/*
* @Author: zerokool - Nguyen Huu Tien
* @Date:   2015-07-19 22:26:44
* @Last Modified by:   zero
* @Last Modified time: 2015-07-29 11:37:23
*/
.jquery-slider-wrapper img {
    width: 100%;
    height: 100%;
}
.jquery-slider-wrapper .jquery-slider-slide {
	height: 100%;
}
.pengo-bannerslider-standard img {
	cursor: pointer;
}
.pengo-bannerslide-flex-slider .flex-control-nav img{
	width: 300px;
	height: 150px;
}

.flexslider-carousel .slides img{
	height: 131px;
}

/* .flexslider-content-image .slides img{
    height: 650px;
} */

.pengo-bannerslider-standard {
	width: 100%;
}

@media only screen and (max-width: 768px) {
    .pengo-bannerslider-standard {
    	width: 768px;
    }
}

@media only screen and (max-width: 360px){
    .pengo-bannerslider-standard {
    	width: 290px;
    }
}

/*.pengo-bannerslide-flex-slider ul.slides {
	height: 100%;
}
.pengo-bannerslide-flex-slider ul.slides img {
	width: 100%;
	height: 100%;
}*/

.pengo-bannerslider-standard .extra-content {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0.5em;
}

.pengo-bannerslider-standard .extra-content .product { display: table; }

.pengo-bannerslider-standard .extra-content .product .data { display: block; float: left; width: 100%; }

.pengo-bannerslider-standard .extra-content .product .data .name { font-size: 1.5em; font-weight: 600; text-transform: uppercase; text-decoration: underline;     float: inherit; }

.pengo-bannerslider-standard .extra-content .product .data .price { float: right; display: block; font-weight: bolder; font-style: italic; }

.pengo-bannerslider-standard .extra-content .product .addtocart { display: inline-flex; float: none; width: 100%; padding-top: 0.5em;}
.pengo-bannerslider-standard .extra-content .product .addtocart .configurable .label { font-size: 1.2em; }
.pengo-bannerslider-standard .extra-content .product .addtocart .configurable select { border-radius: 0.5em; font-size: 0.8em; }

.pengo-bannerslider-standard .extra-content .product .actions { display: block; float: none; padding-top: 1em; }